.currentSelectedIconWrapper {
      color: white;
      border-radius: 50%;
      background: linear-gradient(
            0deg,
            #5080fd 0.01%,
            #5080fd 25.01%,
            #5080fd 31.26%,
            #5080fd 34.39%,
            #5081fd 35.17%,
            #5181fd 35.95%,
            #5182fd 36.73%,
            #5182fd 37.51%,
            #5183fd 38.29%,
            #5184fd 39.08%,
            #5284fd 39.86%,
            #5285fd 40.64%,
            #5285fd 41.42%,
            #5286fd 42.2%,
            #5286fd 42.98%,
            #5387fd 43.76%,
            #5387fd 44.54%,
            #5388fd 45.33%,
            #5389fd 46.11%,
            #5489fd 46.89%,
            #548afd 47.67%,
            #548afd 48.45%,
            #548bfd 49.23%,
            #548bfd 50.01%,
            #558cfd 50.8%,
            #558cfd 51.58%,
            #558dfd 52.36%,
            #558efd 53.14%,
            #558efd 53.92%,
            #568ffd 54.7%,
            #568ffd 55.48%,
            #5690fd 56.26%,
            #5690fd 57.05%,
            #5791fd 57.83%,
            #5791fd 58.61%,
            #5792fd 59.39%,
            #5792fd 60.17%,
            #5793fd 60.95%,
            #5894fd 61.73%,
            #5894fd 62.52%,
            #5895fd 63.3%,
            #5895fd 64.08%,
            #5896fd 64.86%,
            #5996fc 65.64%,
            #5997fc 66.42%,
            #5997fc 67.2%,
            #5998fc 67.98%,
            #5a99fc 68.77%,
            #5a99fc 69.55%,
            #5a9afc 70.33%,
            #5a9afc 71.11%,
            #5a9bfc 71.89%,
            #5b9bfc 72.67%,
            #5b9cfc 73.45%,
            #5b9cfc 74.24%,
            #5b9dfc 75.02%,
            #5b9efc 75.8%,
            #5c9efc 76.58%,
            #5c9ffc 77.36%,
            #5c9ffc 78.14%,
            #5ca0fc 78.92%,
            #5da0fc 79.7%,
            #5da1fc 80.49%,
            #5da1fc 81.27%,
            #5da2fc 82.05%,
            #5da3fc 82.83%,
            #5ea3fc 83.61%,
            #5ea4fc 84.39%,
            #5ea4fc 85.17%,
            #5ea5fc 85.96%,
            #5ea5fc 86.74%,
            #5fa6fc 87.52%,
            #5fa6fc 88.3%,
            #5fa7fc 89.08%,
            #5fa8fc 89.86%,
            #60a8fc 90.64%,
            #60a9fc 91.42%,
            #60a9fc 92.21%,
            #60aafc 92.99%,
            #60aafc 93.77%,
            #61abfc 94.55%,
            #61abfc 95.33%,
            #61acfc 96.11%,
            #61adfc 96.89%,
            #61adfc 97.68%,
            #62aefc 98.46%,
            #62aefc 99.24%,
            #62affc 100.02%
      );
}
